<meta charset="UTF-8">

<!-- Mobile support -->
<meta content="width=device-width, initial-scale=1" name="viewport">

<!-- Twitter Bootstrap -->
<link href="dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Material Design for Bootstrap -->
<link href="dist/css/roboto.min.css" rel="stylesheet">
<link href="dist/css/material-fullpalette.min.css" rel="stylesheet">
<link href="dist/css/ripples.min.css" rel="stylesheet">

<!-- Dropdown.js -->
<link href="dist/css/jquery.dropdown.css" rel="stylesheet">

<body>
  <div class="container">
    <div class="panel-head panel panel-default">
      <div class="panel-body">

        <div class="event_form row">

          <div class="form-group">
            <h2 style="text-align: center">
              <%= @event.name %>
            </h2>
          </div>

          <div class="form-group">
            <div class="form-group">
              開催日時
            <%= @event.event_day.strftime("%y年 %m月 %d日") if @event.event_day.present?  %>
            </div>
            <% if @event.community.present? %>
            <div class="form-group">
              <P><%= link_to @event.community.name, community_path(@event.community.id) %>開催のイベントです</p>
            </div>
            <% end %>
          </div>

          <div class="form-group" style="text-align: center">
            <p><%= @event.try(:description) %></p>
          </div>

          <div class="event_members" style="margin-buttom:50px;">
            <p>
              イベント参加者
            </p>
<!--参加者の社員個別ページのプロフィール写真が反映-->
            <ul style="list-style: none;">
              <% @event.members.each do |member| %>
              <li style="float: left">
                <%= link_to image_tag( member.image.url, :size => "50x50"), member_path(member.id) %><br>
              </li>
              <% end %>
            </ul><br>
          </div>

          <div class="form-group" style="margin-top: 50px;" >
            <!--見ているコミュニティへの参加不参加-->
                        <%= form_for(:event, url: event_add_member_path) do |f| %>
                        <%= f.hidden_field 'event_id', :value => params[:id] %>
                        <%= f.hidden_field 'add_member_id', :value => current_member.id %>
                        <%= f.submit @join_member.present?  ? '参加を取りけす' : '参加', class: 'btn btn-material-pink' %>
            <a href="https://chouseisan.com/" class="btn btn-material-pink" target=”_blank”>日程を調整する</a>

            <%= link_to '編集', edit_event_path(@event), class: 'btn btn-material-grey'  if @event.member = current_member %>

                        <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>
</body>
